<td>{{booking.bookingId}}</td>
<td>{{booking.bookingDate}}</td>
<td>{{booking.bookedTillDate}}</td>
<td>{{booking.bookingDescription}}</td>
<td>{{booking.totalCost}}</td>
<td>{{booking.distance}}</td>
<td>{{payment.paymentStatus}}</td>
<td>{{booking.customer.customerId}}</td>
<td>{{booking.vehicle.vehicleId}}</td>
<td>
    
       <i class="material-icons" 
          style="display: inline-block; cursor: pointer;" 
          (click)='deleteBooking(payment.paymentId)'>
           delete</i>
    
</td>
<td>
    <button class= 'btn btn-primary'
    (click)='updateBooking(booking.bookingId)'>
    Edit
    </button>
</td>
<td>
    <button class= 'btn btn-info'
    (click)='showPayment(booking)'>
    Show
    </button>
</td>

    <!--<span *ngIf='displayEdit'>
    <td>
        <input type='text' [(ngModel)]='updatedBooking'/>
    </td>
    <td>
        <button 
        class="btn btn-primary"
        (click) = "updateBooking(booking)">
        Update
        </button>
    </td>
    </span>-->