<app-title></app-title>
<div class="container">
	<div class="row">
        <div class="col-8"><h1>Customer Details</h1></div>
		<div class="col-4" style="align-items: right; padding:15px;">
        <form 
        style='margin:0 8px 0 8px' 
        class="form-inline searchCust" 
        #customerByCustfirstNameForm="ngForm" 
        (ngSubmit)="searchByCustFirstNameForm()">
        <h6 class="text-danger"></h6>
            <input
            type="text"
            [(ngModel)]="searchByCustfirstName"
            name="searchByCustfirstName"
            #CustIdControl="ngModel"
            placeholder="Customer First Name"
            required/>
            <button style='margin:0 8px 0 8px'
                type="submit"
                class="btn btn-info"
                [disabled]="CustIdControl.invalid">
                Enter
            </button>
            <button style='margin:0 8px 0 8px' class=" btn btn-success" (click)='displayViewAllForm()'>View All </button>
        </form>
    </div>
</div>
</div>
    <!--div class=" left row ">
        <button style='margin:0 8px 0 8px' class=" btn btn-success" (click)='displayViewAll()'>View All </button>
    </div>
    
   
    <form style='margin:0 8px 0 8px' class="form-inline searchCust" #bookingByCustIdForm="ngForm" 
                                                (ngSubmit)="searchByCustIdForm(searchByCustId)">
        <h6 class="text-danger">{{searchByCustIdErrorMessage}} </h6>
            <input
            type="number"
            [(ngModel)]="searchByCustId"
            name="searchByCustId"
            #bookingCustIdControl="ngModel"
            placeholder="Customer ID"
            required/>
    
            <button style='margin:0 8px 0 8px'
                type="submit"
                class="btn btn-info"
                [disabled]="bookingCustIdControl.invalid">
                Customer ID
            </button>
            
        </form-->

    <div class= " content container mt-5" >
    <table class="table table-hover">
            <thead class="thead-dark ">
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email ID</th>
                    <th>Address</th>
                </tr>
                </thead>   
        
        <tbody>
            <tr *ngFor = "let customer of customers"
                app-customer-show 
                [customer] = "customer">
                <!--(delete)="deleteCustomerParent($event)"-->
            </tr>
        </tbody>
    
        </table>
    </div>    
