<!--div  class="content container-fluid">
  <h2>Edit customer</h2>
  <form #customerEditForm="ngForm" (ngSubmit)="submitEditForm()">
    <!--div class="form-group row">
      <label for="emailId" class="col-sm-2 col-form-label">Email ID:</label>
      <div class="col-sm-10">
        <div>{{updatedCustomer.emailId}}</div>-->
        
        <!--<input
          //changed the updateEmployee at ngModel at
          type="number"
          [(ngModel)]="updatedEmployee.id"
          name="empId"
          #empControl="ngModel"
          *ngIf = "editing"
          required
        />-->


        <!--br />
      </div>
    </div>
    <div class="form-group row">
      <label for="emailId" class="col-sm-2 col-form-label">emailId:</label>
      <div class="col-sm-10">
        
        <input
          type="text"
          [(ngModel)]="updatedCustomer.emailId"
          name="emailId"
          #empControl="ngModel"
          required
        /><br />
      </div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">firstName:</label>
      <div class="col-sm-10">
        
        <input
          type="text"
          [(ngModel)]="updatedCustomer.firstName"
          name="firstName"
          #empControl="ngModel"
          required
        /><br />
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">lastName:</label>
      <div class="col-sm-10">
        
        <input
          type="text"
          [(ngModel)]="updatedCustomer.lastName"
          name="lastName"
          #empControl="ngModel"
          required
        /><br />
      </div>
    </div>
    
    <div class="form-group row">
      <label for="mobileNumber" class="col-sm-2 col-form-label">mobileNumber:</label>
      <div class="col-sm-10">
       
        <input
        type="number"
          [(ngModel)]="updatedCustomer.mobileNumber"
          name="mobileNumber"
          #empControl="ngModel"
        />
        <br />
      </div>
    </div>

    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label">address:</label>
      <div class="col-sm-10">
        
        <input
        type="text"
          [(ngModel)]="updatedCustomer.address"
          name="address"
          #empControl="ngModel"
        />
        <br />
      </div>
    </div>
    
    

    <div style='margin:0 4px 0 4px' class="form-group row">
      <input type="submit" class="btn btn-info" value="Update">
    </div>
  </form>
</div-->