<td>{{vehicle.vehicleId}}</td>
<td>{{vehicle.vehicleNumber}}</td>
<td>{{vehicle.type}}</td>
<td>{{vehicle.category}}</td>
<td>{{vehicle.description}}</td>
<td>{{vehicle.location}}</td>
<td>{{vehicle.capacity}}</td>
<td>{{vehicle.chargesPerKM}}</td>
<td>{{vehicle.fixedCharges}}</td>

<td>
       <i 
            class="material-icons" 
            style="display: inline-block; cursor: pointer;" 
            (click)='deleteVehicle(vehicle.vehicleId)'>
            delete</i>
    
</td>
<td>
    <button class= 'btn btn-primary'
    (click)='updateVehicle(vehicle)'>
    Edit
    </button>
</td>
<td>
    <button class= 'btn btn-primary'
    (click)='addBooking(vehicle.vehicleId)'>
    Book
    </button>
</td>
