<nav class="navbar navbar-inverse navbar-expand-sm bg-dark navbar-dark">
	<div class="container-fluid">
    
    <div class="navbar-header">
			<div class="navbar-brand"> 
				<i class="material-icons">directions_car</i>
				<span id="txt1">
			    Rent and Ride
				</span>
			</div>
	  </div>
		
		<ul class="nav navbar-nav navbar-right">
      <!--li class="nav-item">
        <a>{{getUser()}}</a>
      </li-->
			<li class="nav-item">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li *ngIf= "getUser() == 'admin'" class="nav-item">
        <a [routerLink]="['/customer']">Customers</a>
      </li>
      <li *ngIf= "getUser() == 'admin'" class="nav-item">
        <a [routerLink]="['/vehicle']">Vehicles</a>
      </li>
			<li *ngIf= "getUser() == 'admin'" class="nav-item">
        <a [routerLink]="['/booking']">Bookings</a>
      </li>
      <li *ngIf= "getUser() == 'customer'" class="nav-item">
        <a [routerLink]="['/bookingby']">Book a Car</a>
      </li>
      <li *ngIf= "getUser() == 'admin'" class="nav-item">
        <a [routerLink]="['/payment']">Payments</a>
      </li>
      <li *ngIf= "getUser() != ''" class="nav-item">
        <a [routerLink]="['/profile']">Profile</a>
      </li>
			<li *ngIf= "getUser() != ''" class="nav-item">
        <a [routerLink]="['/logout']">Sign out</a>
      </li>
      <li *ngIf= "getUser() == ''" class="nav-item">
        <a [routerLink]="['/customer/add']">Register</a>
      </li>
      <li *ngIf= "getUser() == ''" class="nav-item">
        <a [routerLink]="['/login']">Sign in</a>
      </li>
    </ul>	
    	  
	</div>
</nav>

<!--div class="footer">
  <div class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
      
      <div class="row">
        <div class="col-md-3">
          <h5>About Us</h5>
        </div>
      </div-->
      
      <!--div class="row">
        <div class="col-md-6"><a>About Us</a>This is a vehicle rental portal <span class="small"><br>Happy Travelling.</span></div>
        <div class="col-md-3"></div>
        <div class="col-md-3 text-right small align-self-end">©2020 Vehicle Rental Management </div>
      </div>
    
    </div>
  </div>
</div-->
      