<app-title></app-title>
    <div class="container">
        <div class="row">   
            <div class="col-9"><h3>My Booking</h3></div>
            <div class="col-3" style="align-items: right; padding:15px;">
                <button 
                    class=" btn btn-success" 
                    (click)='displayAddForm()'>Add New Booking</button>
            </div>
        </div>
    </div>    

    <div class= "container mt-5" >
    <table class="table  table-hover">
            <thead class="thead-dark ">
                <tr>
                    <th>Id</th>
                    <th>Booking From</th>
                    <th>Booked Till</th>
                    <th>Description</th>
                    <th>Total Cost</th>
                    <th>Distance</th>
                    <th>Status</th>
                    <th></th>
                    <th>Edit</th>
                    <th>Payment Details</th>
                </tr>
                </thead>   
        
        <tbody>
            <tr *ngFor = "let payment of payments"
                app-bookingby-show 
                [booking] = "payment.booking"
                [payment] = "payment"
                (update)="updateBookingParent($event)"
                (delete)="deleteBookingParent($event)"
                (show)="showPaymentByParent($event)">
            </tr>
        </tbody>
    
        </table>
    </div>    

    <div *ngIf = "noDataErrorMessage == '' else elseBlock" ></div>
	<ng-template #elseBlock><h4 style="color:rgb(0, 0, 0); text-align: center;">{{noDataErrorMessage}}</h4></ng-template>

    <div *ngIf = "paymentBool">
        <div class="modal fade" id="bookingModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Payment Details</h4>
                        <button type="button" class="close" data-dismiss="modal" (click)="closeShowPaymentBy()" >&times;</button>
                    </div>
                    <div class="modal-body">
                        <h6><b>Payment Id: </b>#{{modalPayment.paymentId}}</h6>
                        <h6><b>Total Cost: </b>Rs.{{modalPayment.booking.totalCost}}</h6>
                        <h6><b>Mode: </b>{{modalPayment.paymentMode}}</h6>
                        <h6><b>Status: </b>{{modalPayment.paymentStatus}}</h6>
                        <h6><b>Paid On: </b>{{modalPayment.paymentDate | date: 'dd/MM/yyyy'}}</h6>
                    </div>
                    <!--div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div-->
                </div>
            </div>
        </div> 
    </div>