<app-title></app-title>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="1000" data-pause="hover">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="height:100%; width:100%; background-color: gray;" class="text-white text-center">
        <img src="assets\pexels-svh-2920064.jpg" alt="Los Angeles" width="1100" height="600">
      </div>
    </div>
    <div class="carousel-item">
      <div style="height:100%; width:100%; background-color: gray;" class="text-white text-center">
        <img src="assets\pexels-aaron-curtis-119435.jpg" alt="Los Angeles" width="1100" height="600">
      </div>
    </div>
    <div class="carousel-item">
      <div style="height:100%; width:100%; background-color: gray;" class="text-white text-center">
        <img src="assets\pexels-toms-svilans-1005633.jpg" alt="Los Angeles" width="1100" height="600">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<div class ="container">
<h1>About Us</h1> <br>
<h4 style="text-align:justify">Welcome to "Masti Ride"! We are a brand new vehicle rental website that 
  needs your support. Vehicles of all brands are available 24/7 ready at your service. 
  Rides start from as low as Rs.5/km with a very friendly driver. 
  For any queries contact us at: <br>
  <br> <b> &nbsp;Phone Number </b>- "+91-9876384923" 
  <br> <b> &nbsp;Email ID </b>- "masti-ride@gmail.com".</h4>
</div>