h1 {
    color: #0e110f;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
th {
    background: #303f368f;
}