<app-title></app-title>

<div class="container">
	<div class="row">
		<div class="col-9"><h1>All Payments</h1></div>
		<div class="col-3" style="align-items: right; padding:15px;">
			<form>
				<div class="row">
				<select 
					class="form-control"
					(change)="findBy()" 
					[(ngModel)]="idType" 
					name="idType"
					style="width:150px">
			  		<option value="">Select</option>
			  		<option value="customer">Customer ID</option>
			  		<option value="booking">Booking ID</option>
				</select> <span> &nbsp; </span>
				<input type="number" 
						placeholder="Enter ID" 
						[(ngModel)]=id 
						name="id" 
						class="form-control"
						(keyup)="findBy()">
				</div>
			</form>
		</div>
	</div>
</div>

<div class= " content container mt-5" >
    <table class="table table-hover">
        <thead class="thead-dark ">
            <tr>
						<th>ID</th>
						<th>Amount</th>
						<th>Mode</th>
						<th>Status</th>
						<th>Date</th>
						<th>Booking ID</th>
						<th>Customer Name</th>
						<th>Vehicle Number</th>
					</tr>
				</thead> 
					<tr *ngFor="let payment of allPayments;"
            			payment-show
						[payment]=payment
						(delete)="deletePaymentParent($event)"
						class="dropdown">
					</tr>
			</table>
		
	</div>


<div *ngIf = "errorMessage == '' else elseBlock"></div>
<ng-template #elseBlock><h3 style="color:red;">{{errorMessage}}</h3></ng-template>