<app-title></app-title>
<div class=container>
<div class="card-group">
    <div class="col-sm-3 p-4">
        <div class="card">
            <img class="card-img-top" src="/assets/images/carousel/Customer_Details.jpg" alt="Card image cap" width="250" height="100">
            <div class="card-body">

                <h5 class="card-title">Customer_Details</h5>

                <a href="#" class="btn btn-primary btn-block">Get</a>

            </div>
        </div>
    </div>
    <div class="col-sm-3 p-4">
        <div class="card">
            <img class="card-img-top" src="/assets/images/carousel/Booking_Details.png" alt="Card image cap" width="250" height="100">
            <div class="card-body">
                <h5 class="card-title">Booking_Details</h5>
                <a href="#" class="btn btn-primary btn-block">Get</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-4">
        <div class="card">
            <img class="card-img-top" src="/assets/images/carousel/Bill_Details.png" alt="Card image cap" width="250" height="100">
            <div class="card-body">
                <h5 class="card-title">Payment_Details</h5>
                <a href="#" class="btn btn-primary btn-block">Get</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-4">
        <div class="card">
            <img class="card-img-top" src="/assets/images/carousel/VehicleDetails.jpg" alt="Card image cap" width="250" height="100">
            <div class="card-body">
                <h5 class="card-title">Vehicle_Details</h5>
                <a href="#" class="btn btn-primary btn-block">Get</a>
            </div>
        </div>
    </div>
</div>

</div>