<app-title></app-title>
<div class="col-md-6 user-container">
  <h2 class="text-center">Add Customer</h2>
  <h4 class="text-danger">{{formValidErrorMessage}}</h4>
  <form #custForm="ngForm" (ngSubmit)="addCustomer()">
  
    <div class="form-group">
      <label for="email">E-mail:</label>

      <input 
        id="email" 
        type="email" 
        placeholder="Email" 
        class="form-control" 
        [(ngModel)]="customer.emailId"
        #custEmail="ngModel"
        name="email"
        size="30"
        pattern="[a-z0-9]{3,}@[a-z]{3,}.[a-z]{2,}"
        required>
      <span class="text-danger" *ngIf="custEmail.invalid && custEmail.touched">
          Email ID is Invalid
      </span>    
    </div> 

    <div class="form-group">
      <label for=" password ">  Password:</label>
        <input 
            type="password" 
            placeholder=" Password" 
            name="password" 
            [(ngModel)]="user.password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            class="form-control" 
            #custPass1="ngModel"
            id=" password"
            required>
            <span class="text-danger" *ngIf="custPass1.invalid && custPass1.touched">
              Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
          </span>  
    </div>
        
    <div class="form-group">
      <label for="Confirm password"> Confirm Password:</label>
        <input 
            type="password" 
            placeholder="Confirm Password" 
            name="password" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            class="form-control" 
            id="Confirm password"
            required>
    </div>
        

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input 
        type="text" 
        placeholder="First Name" 
        [(ngModel)]="customer.firstName"
        #custFname="ngModel"
        name="firstName" 
        pattern="[A-Za-z]{3,}"
        class="form-control" 
        id="firstName"
        required>
        <div class="text-danger" *ngIf="custFname.invalid && custFname.touched">First Name is Invalid</div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input 
        placeholder="Last name" 
        [(ngModel)]="customer.lastName"
        #custLname="ngModel"
        name="lastName" 
        class="form-control" 
        id="lastName" 
        required>
        <div class="text-danger"  *ngIf="custLname.invalid && custLname.touched">Last Name is Invalid</div>
    </div>

    <div class="form-group">
      <label for="mobilenumber">MobileNumber:</label>
      <input 
        type="number" 
        placeholder="Mobile Number" 
        [(ngModel)]="customer.mobileNumber"
        #custNum="ngModel"
        name="mobilenumber" 
        pattern="[0-9]{10}"
        class="form-control" 
        id="mobilenumber"
        required>
        <div class="text-danger" *ngIf="custNum.touched && custNum.invalid">Enter Valid Mobile Number</div>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input 
        type="text" 
        placeholder="Address"
        [(ngModel)]="customer.address"
        #custAddr="ngModel" 
        name="address" 
        class="form-control" 
        id="address"address is required>
        <div class="text-danger" *ngIf="custAddr.touched && custNum.invalid">Enter Valid Address</div>
    </div>

    <button type="submit" class="btn btn-info"
      [disabled]="custForm.invalid" >
        Add

      </button>
    <!--button class="btn btn-success" onclick="onSubmit()"> Add</button>-->
  </form>
</div>

