<td>{{customer.customerId}}</td>
<td>{{customer.firstName}} {{customer.lastName}}</td>
<td>{{customer.mobileNumber}}</td>
<td>{{customer.emailId}}</td>
<td>{{customer.address}}</td>

<!--td>
    <button class= 'btn btn-primary'
    (click)='updateBooking(booking.bookingId)'>
    Edit
    </button>
</td-->
    <!--<span *ngIf='displayEdit'>
    <td>
        <input type='text' [(ngModel)]='updatedBooking'/>
    </td>
    <td>
        <button 
        class="btn btn-primary"
        (click) = "updateBooking(booking)">
        Update
        </button>
    </td>
    </span>-->