<nav class="navbar navbar-expand-sm">
	<a class="navbar-brand"> 
		<i class="material-icons">payments</i>
		<span id="txt1">
			Safe Payment Gateway		
		</span>
	</a>
</nav>
<!--//name on card, cvc, expiration, -->
<div id="form" >
	<h1>Payment Information</h1>
	<div class="container center_div">
		<div id="form-row" class="row justify-content-center align-items-center">
			<div id="form-column" class="col-md-6 col-lg-6">
				<div id="form-box" class="col-md-12 col-lg-9">
					<form id="payment-form" class="form" (ngSubmit)="add()">
						<br>
						<div class="form-group">
							<label for="name" class="text-info">Name:</label><br>
							<input 
								type="text" 
								name="name" 
								id="name" 
								placeholder="Name"
								class="form-control" 
								(ngModel)=cardDetail
								#cardName="ngModel"
								required>
							<span style="color:red;"
								*ngIf="cardName.invalid && cardName.touched">
								Name is required.
							</span>
						</div>
						
						<div class="form-group">
							<label for="card-number" class="text-info">Card Number:</label><br>
							<input 
								type="text" 
								pattern="[0-9]{16}" 
								name="card-number" 
								id="card-number" 
								placeholder="Card Number"
								class="form-control"
								(ngModel)=cardDetail
								#cardNumber="ngModel"
								required>
							<span style="color:red;"
								*ngIf="cardNumber.invalid && cardNumber.touched">
								Card Number is invalid
							</span>
						</div>

						<div class="form-group">
							<label for="cvv" class="text-info">CVV:</label><br>
							<input 
								type="text" 
								pattern="[0-9]{3}" 
								name="cvv" 
								id="cvv" 
								placeholder="CVV"
								class="form-control"
								(ngModel)=cardDetail
								#cardCVV="ngModel"
								required>
							<span style="color:red;"
								*ngIf="cardCVV.invalid && cardCVV.touched">
								CVV is invalid
							</span>
						</div>
						
						<div class="form-group">
							<label for="expiration-date" class="text-info">Expiration Date:</label><br>
							
							<div class="row">
								<div class="col">
							  		<input type="number" class="form-control" placeholder="Month" min=1 max=12>
								</div>
								<div class="col">
							  		<input type="number" class="form-control" placeholder="Year" min=2021 max=2025>
								</div>
						  	</div>
						</div>

						<div class="form-group">
							<input 
								type="submit" 
								name="submit" 
								value="Pay">
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>