<app-title></app-title>
<div class="container">
  <div class="col-md-4 col-sm-12 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">
          <p class="text-center text-secondary"><i class="fa fa-car fa-3x"></i></p>
          <div class="form-group">
            <label for="userid">User Id:</label>
            <input class="form-control" type="text"[(ngModel)]="userid" name="userid" id="userid" #prodControl="ngModel" autocomplete="off" required/>
            <span class="text-danger" *ngIf="prodControl.invalid && prodControl.touched" >
              User Id is mandatory
            </span>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password"[(ngModel)]="password" id="password" name="password" #prodControl="ngModel" required/>
            <span class="text-danger" *ngIf="prodControl.invalid && prodControl.touched" >
              password is mandatory
            </span>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-success w-50" [disabled]="loginForm.invalid">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
