/* You can add global styles to this file, and also import other style files */
.footer {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
 }
 .navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    overflow:hidden;
 }