<app-title></app-title>
<div class="container">
	<div class="row">
		<div class="col-8"><h1>All Bookings</h1></div>
        <div class="col-4" style="align-items: right; padding:15px;">
            <div class="row ">
            <!--form style='margin:0 8px 0 8px' class="form-inline right" #bookingByDateForm="ngForm"
                                                 (ngSubmit)="searchByDateForm(searchByDate)">
                <h6 class="text-danger">{{searchByDateErrorMessage}} {{deleteErrorMessage}}</h6>
            <input
                type="date"
                [(ngModel)]="searchByDate"
                name="searchByDate"
                #bookingDateControl="ngModel"
                placeholder="BookingDate"
                required/>
            <button style='margin:0 8px 0 8px'
                type="submit"
                class="btn btn-info"
                [disabled]="bookingDateControl.invalid">
                <i  class="material-icons">search</i>
            </button>
            </form-->
            
           <form style='margin:0 8px 0 8px' class="form-inline searchCust" #bookingByCustIdForm="ngForm" 
                                                (ngSubmit)="searchByCustIdForm(searchByCustId)">
            <h6 class="text-danger">{{searchByCustIdErrorMessage}} </h6>
            <input
            type="number"
            [(ngModel)]="searchByCustId"
            name="searchByCustId"
            #bookingCustIdControl="ngModel"
            placeholder="Customer ID"
            required/>
            <button style='margin:0 8px 0 8px'
                type="submit"
                class="btn btn-info"
                [disabled]="bookingCustIdControl.invalid">
                Customer ID
            </button>
            </form></div><br>
            <div class="row ">    
                <button style='margin: 0 8px 0 8px' class=" btn btn-success" (click)='displayAddForm()'>Add New Booking</button>
                <button style='margin:0 8px 0 8px' class=" btn btn-success" (click)='displayViewAll()'>View All </button>
            </div>
    </div>
</div>
</div>
        
    <div class= "container mt-5" >
    <table class="table table-hover">
            <thead class="thead-dark ">
                <tr>
                    <th>Id</th>
                    <th>Booking From</th>
                    <th>Booked Till</th>
                    <th>Description</th>
                    <th>Total Cost</th>
                    <th>Distance</th>
                    <th>Status</th>
                    <th>Customer</th>
                    <th>Vehicle</th>
                    <th></th>
                    <th>Edit</th>
                    <th>Payment Details</th>
                </tr>
                </thead>   
        
        <tbody>
            <tr *ngFor = "let payment of payments"
                app-booking-show 
                [booking] = "payment.booking"
                [payment] = "payment"
                (update)="updateBookingParent($event)"
                (delete)="deleteBookingParent($event)">
            </tr>
        </tbody>
       
    </table>
</div>    
    <div *ngIf = "errorMessage == '' else elseBlock" ></div>
    <ng-template #elseBlock><h4 style="color:rgb(0, 0, 0); text-align: center;">{{errorMessage}}</h4></ng-template>
 